{% extends 'base.html' %}

{% block content %}


<main class="tm-main">
    {% include 'partials/_search.html' %}            
    <div class="row tm-row">
        <div class="col-12">
            <hr class="tm-hr-primary tm-mb-55">
            <!-- Video player 1422x800 -->
            <img src="{{ blog.image.url }}" width="954" height="535" class="tm-mb-40">
        </div>
    </div>
    <div class="row tm-row">
        <div class="col-lg-8 tm-post-col">
            <div class="tm-post-full">                    
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{ blog.title }}</h2>
                    <p class="tm-mb-40">{{ blog.created_at|date:"M d, Y" }} posted by {{ blog.user.username }}</p>
                    <p>
                        {{ blog.description }}
                    </p>
                    <span class="d-block text-right tm-color-primary">{% for cat in blog.category.all %}{{ cat.title }},{% endfor %}</span>
                </div>
                
                <!-- Comments -->
                <div>
                    <h2 class="tm-color-primary tm-post-title">Comments</h2>
                    <hr class="tm-hr-primary tm-mb-45">
                    {% for comment in comments %}
                    <div class="tm-comment tm-mb-45">
                        <figure class="tm-comment-figure">
                            {% if comment.name %}
                            <figcaption class="tm-color-primary text-center">{{ comment.name }}</figcaption>
                            {% else %}
                            <figcaption class="tm-color-primary text-center">Anonymous User</figcaption>
                            {% endif %}
                        </figure>
                        <div>
                            <p>
                                {{ comment.comment }}
                            </p>
                            <div class="d-flex justify-content-between">
                                
                                <span class="tm-color-primary">{{ comment.created_at|date:"M,d Y" }}</span>
                            </div>                                                 
                        </div>                                
                    </div>
                    {% endfor %}

                    <form method="POST" class="mb-5 tm-comment-form">
                        {% csrf_token %}
                        <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                        <div class="mb-4">
                            <input class="form-control" name="name" type="text" placeholder="Your Name">
                        </div>

                        <div class="mb-4">
                            <textarea class="form-control" name="message" placeholder="Enter message here" rows="6"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                        </div>                                
                    </form>                          
                </div>
            </div>
        </div>
        <aside class="col-lg-4 tm-aside-col">
            <div class="tm-post-sidebar">
                <hr class="mb-3 tm-hr-primary">
                <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                <ul class="tm-mb-75 pl-5 tm-category-list">
                    {% for category in blogcategory %}
                    <li><a href="{% url 'post_by_filter' category.id %}" class="tm-color-primary">{{ category.title }}</a></li>
                    {% endfor %}
                    
                </ul>
                <hr class="mb-3 tm-hr-primary">
                <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                {% for b in blogs %}
                <a href="" class="d-block tm-mb-40">
                    <figure>
                        <img src="{{ b.image.url }}" alt="Image" class="mb-3 img-fluid">
                        <figcaption class="tm-color-primary">{{ b.title }}</figcaption>
                    </figure>
                </a>
                {% endfor %}

            </div>                    
        </aside>
    </div>
    {% include 'partials/_footer.html' %}
</main>


{% endblock content %}